<a href='/{{params.forumURN}}'>назад к форуму "{{names.forumName}}"</a><br />
<div class = 'topicTitle' id = '{{names.topicId}}'>
  <h2>Тема: <span class='theme'>{{names.theme}}</span></h2>
  <h3 class = 'comment'>{{names.comment}}</h3>
</div>
Сообщения:
<div id = "contents">
{{#each messages}}
  {{#if this.essential}}
  <div id ="{{this.postId}}" class = "essential post">
    <div class ='content'>{{getPosts this.content}}</div>
  </div>
  {{/if}}
{{/each}}
{{#each messages}}
  {{#if this.essential}}
  {{else}}
  <div id ="{{this.postId}}" class = "post">
    <div class ='content'>{{getPosts this.content}}</div>
  </div>
  {{/if}}
{{/each}}
</div>
<div>{{pages}}</div>
<a href='/{{params.forumURN}}'>назад к форуму "{{names.forumName}}"</a>
<form name="poster">
<textarea name="post"></textarea>
<input type="button" name="send" id = 'sendPost' value = "Отправить">
</form>

