<h2>Разделы:</h2>

  <table>
    {{#dislocateParts forums}}
        <div class="forumField">
          <div class="forumParams">Последнее сообщение в теме: <a href="/{{this.forumURN}}/{{this.topicId}}?p={{ceil this.lastPage}}#{{this.lastPostId}}">{{this.theme}}</a><br/> Автор: <a href = '/profile/{{this.userId}}'>{{this.userName}}</a><br/>
            {{getDate this.lastPostDate}}
          </div>
          <div class='forumName' id='{{this.forumId}}' data-urn = '{{this.forumURN}}' {{#if this.redactable}}data-redactable='true' data-deletable='true'{{/if}}>
            <a href="/{{this.forumURN}}" class="forumTitle">{{this.forumName}}</a> <br />
            {{this.comment}} 
            Количество тем: {{this.sumTopics}}. <br />
            Всего сообщений: {{this.sumPosts}}.
          </div>

        </div>
     {{/dislocateParts}}
    </table>


{{#if createForumButton}}<a href='/createForum'><button type='button'>Создать форум</button></a>{{/if}}
