<div id="accountMenu">
<ul>
<li class = 'options' id='account' data-mail='{{mail}}' data-userid='{{userProfile.userId}}'>Настройки аккаунта</li>
<li class = 'options' id='profile' data-username='{{userProfile.userName}}' data-sex='{{userProfile.sex}}' data-birthday='{{userProfile.birthday}}'>Настройки профиля</li>
<li class = 'options' id='subscribes' data-mode='{{userProfile.subMode}}'>Подписки и рассылки</li>
<li class = 'options' id='blackList'>Черный список</li>
</ul>
</div>
<div id="optionBoard"></div>
<a href = '{{referer}}'> << обратно к прошлой странице</a>