
<div id="optionBoard"></div>
<div id="accountMenu">

<div class = 'options' id='account' data-mail='{{mail}}' data-userid='{{userProfile.userId}}'>Настройки аккаунта</div>
<div class = 'options' id='profile' data-username='{{userProfile.userName}}' data-sex='{{userProfile.sex}}' data-birthday='{{userProfile.birthday}}'>Настройки профиля</div>
<div class = 'options' id='subscribes' data-mode='{{userProfile.subMode}}'>Подписки и рассылки</div>
<div class = 'options' id='blackList'>Черный список</div>

</div>



<a href = '{{referer}}'> << обратно к прошлой странице</a>