<div class="forumName" id= '{{forumId}}' data-urn = '{{forumURN}}'><h1 class='forumTitle'>{{names.forumName}}</h1></div>

Темы:

<table border="1">
<tr><td></td><td>Тема:</td><td>Автор: </td><td>кол-во <br />сообщений:</td><td>кол-во <br />просмотров:</td><td>последнее сообщение:</td></tr>
{{#if exist}}
{{#each topics}}
  {{#if this.essential}}
  <tr id='{{this.topicId}}' class='topic field essential' data-lastpost='{{this.lastPostId}}' data-topicid = '{{this.topicId}}' >
    <td>{{#if this.closed}}closed{{else}}opened{{/if}}</td>
    <td class = 'topic' {{#if this.redactable}}data-redactable = true{{/if}}  {{#if this.closed}}data-closed = true{{/if}}><a href="/{{this.forumURN}}/{{this.topicId}}" class = 'theme'>{{this.theme}}</a> <br />
    <span class = 'comment'>{{this.comment}}</span></td>
    <td><a href = '/profile/{{this.userId}}'>{{this.topicAuthor}}</a></td>
    <td>{{this.sumPosts}}</td>
    <td>{{this.views}}</td>
    <td><a href="/{{this.forumURN}}/{{this.topicId}}?p={{ceil this.sumPosts}}#{{this.lastPostId}}">смотреть</a> Автор:  <a href = '/profile/{{this.authorId}}'>{{this.postAuthor}}</a><br />{{getDate this.postDate}}</td>
  </tr>
  {{/if}}
{{/each}}
{{#each topics}}
  {{#if this.essential}}
  {{else}}
  <tr id='{{this.topicId}}' class='topic field' {{#if this.deletable}}data-deletable = true{{/if}}  data-lastpost='{{this.lastPostId}}' data-topicid = '{{this.topicId}}' >
    <td>{{#if this.closed}}closed{{else}}opened{{/if}}</td>
    <td   class = 'topic' {{#if this.redactable}}data-redactable = true{{/if}} {{#if this.deletable}}data-deletable = true{{/if}} {{#if this.closed}}data-closed = true{{/if}}><a href="/{{this.forumURN}}/{{this.topicId}}" class = 'theme'>{{this.theme}}</a> <br />
    <span class = 'comment'>{{this.comment}}</span></td>
    <td><a href = '/profile/{{this.userId}}'>{{this.topicAuthor}}</a></td>
    <td>{{this.sumPosts}}</td>
    <td>{{this.views}}</td>
    <td><a href="/{{this.forumURN}}/{{this.topicId}}?p={{ceil this.sumPosts}}#{{this.lastPostId}}">смотреть</a> Автор: <a href = '/profile/{{this.authorId}}'>{{this.postAuthor}}</a><br />{{getDate this.postDate}}</td>
  </tr>
 {{/if}}
{{/each}}
{{/if}}
</table>

{{pages}}
{{#if userProfile.isConfurmed}}
<form name="topicer">
<input type="button" name="getTopicForm" id = 'getTopicForm' value="Создать тему">
</form>
{{/if}}
<a href='/'>back</a>
