<a href='/'>...к списку форумов</a>
<div class="forumHead" data-forumid= '{{forumId}}' data-urn = '{{forumURN}}'> <h2 class='forumTitle'>Форум "{{names.forumName}}"</h2></div>

<h3>Темы:</h3>

<div class="field">
  <div class="lastPost">последнее сообщение:</div>
  <div class="topicParameter">кол-во <br />просмотров:</div>
 <div class="topicParameter">кол-во <br />сообщений:</div>
 <div class="topicParameter">Автор: </div>
  <div class = 'topic'>Тема:</div>
 </div>
{{#if exist}}
{{#each topics}}
  {{#if this.essential}}
  <div id='{{this.topicId}}' class='topicField essential new' data-lastpost='{{this.lastPostId}}' data-topicid = '{{this.topicId}}' >
    <div class="lastPost"><a href="/{{this.forumURN}}/{{this.topicId}}?p={{ceil this.sumPosts}}#{{this.lastPostId}}">смотреть</a> Автор:  <a href = '/profile/{{this.authorId}}'>{{this.postAuthor}}</a><br />{{getDate this.postDate}}</div>
    <div class="topicParameter">{{this.views}}</div>
    <div class="topicParameter">{{this.sumPosts}}</div>
    <div class="topicParameter"><a href = '/profile/{{this.userId}}'>{{this.topicAuthor}}</a></div>
    <div class = 'topic' {{#if this.redactable}}data-redactable = true{{/if}}  {{#if this.closed}}data-closed = true{{/if}}><a href="/{{this.forumURN}}/{{this.topicId}}" class = 'theme'>{{this.theme}}</a> <br />
      <span class = 'comment'>{{this.comment}}</span></div>
  </div>
  {{/if}}
{{/each}}
{{#each topics}}
  {{#if this.essential}}
  {{else}}
  <div id='{{this.topicId}}' class='topicField new' {{#if this.deletable}}data-deletable = true{{/if}}  data-lastpost='{{this.lastPostId}}' data-topicid = '{{this.topicId}}' >
    <div class="lastPost"><a href="/{{this.forumURN}}/{{this.topicId}}?p={{ceil this.sumPosts}}#{{this.lastPostId}}">смотреть</a> Автор: <a href = '/profile/{{this.authorId}}'>{{this.postAuthor}}</a><br />{{getDate this.postDate}}</div>
    <div class="topicParameter">{{this.views}}</div>
    <div class="topicParameter">{{this.sumPosts}}</div>
    <div class="topicParameter"><a href = '/profile/{{this.userId}}'>{{this.topicAuthor}}</a></div>

    <div   class = 'topic' {{#if this.redactable}}data-redactable = true{{/if}} {{#if this.deletable}}data-deletable = true{{/if}} {{#if this.closed}}data-closed = true{{/if}}><a href="/{{this.forumURN}}/{{this.topicId}}" class = 'theme'>{{this.theme}}</a> <br />
    <span class = 'comment'>{{this.comment}}</span></div>
  </div>
 {{/if}}
{{/each}}
{{/if}}
</table>

{{pages}}
{{#if userProfile.isConfurmed}}
<form name="topicer">
<input type="button" name="getTopicForm" id = 'getTopicForm' value="Создать тему">
</form>
{{/if}}
<a href='/'>...к списку форумов</a>
